.layout {
  display: flex;
  flex-direction: column-reverse;
  width: 100vw;
  height: 100vh;
  padding-bottom: 32px;
}

@media (min-width: 748px) {
  .layout {
    flex-direction: row;
    height: 100vh;
    padding-bottom: 0px;
  }
}

.contentArea {
  max-width: 1320px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

.main {
  flex: 1;
  background: "#fff";
  height: "100vh";
  overflow-y: "auto";
  overflow-x: "hidden";
  margin-top: 62px;
  margin-left: 15px;
  margin-right: 15px;
}

.body {
  margin: 0;
  height: "100vh";
  overflow: "hidden";
}

@media (min-width: 748px) {
  .main {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 80px;
    margin-right: 80px;
  }
}
