.actionBarContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40px;
  gap: 24px;
}

.actionBar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40px;
  justify-content: space-between;
}

.uploadButton {
  display: flex;
  flex-direction: row;
  width: 129px;
  height: 40px;
  border-radius: 4px;
  padding-top: 8px;
  padding-left: 12px;
  padding-bottom: 8px;
  padding-right: 12px;
  gap: 16px;
  background-color: #1d3a6b;
}

.ic_container {
  height: 24px;
  width: 24px;
}

.iconUpload {
  height: 17;
  width: 16;
  top: 3px;
  left: 4px;
}

.buttonText {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-family: var(--font-open-sans);
  font-weight: 400;
  font-style: regular;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;
  color: #ffffff;
}

.pagination {
  display: flex;
  flex-direction: row;
  width: 328px;
  height: 40px;
  gap: 24px;
}

.previous {
  display: flex;
  flex-direction: row;
  width: 48px;
  height: 40px;
  border-radius: 4px;
  padding-top: 8px;
  padding-left: 12px;
  padding-bottom: 8px;
  padding-right: 12px;
}

.caretIcon {
  width: 12px;
  height: 7px;
  top: 6px;
  left: 8px;
  color: #1c1c1c;
}

.caretIconLeft {
  composes: caretIcon;
}

.caretIconRight {
  composes: caretIcon;
  rotate: 180deg;
}

.next {
  composes: previous;
  gap: 16px;
}

.paginationPages {
  display: flex;
  flex-direction: row;
  width: 184px;
  height: 40px;
  gap: 8px;
}

.pageButton {
  display: flex;
  flex-direction: row;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  padding-top: 8px;
  padding-left: 12px;
  padding-bottom: 8px;
  padding-right: 12px;
  gap: 16px;
  border: none;
  background-color: transparent;
}

.pressedPageButton {
  composes: pageButton;
  background-color: #a1acc1;
}

.pageNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-family: var(--font-open-sans);
  font-weight: 400;
  font-style: regular;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;
  color: #1c1c1c;
}
