.datetimePickerContainer {
  display: flex;
  padding: 20px 9px;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  border-radius: 8px;
  background: var(--Neutral-White, #fff);
}

.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendarHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  gap: 16px;

  /* color: var(--Text-headings, #141414); */
  color: rgb(20, 20, 20, 0.8);
  text-align: center;

  /* Body/md */
  font-family: var(--Font-family-Body, "Open Sans");
  font-size: var(--paragraph-md-font-size, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--paragraph-md-line-height, 20px); /* 125% */
  letter-spacing: var(--paragraph-md-letter-spacing, 0.5px);
}

.arrowPaddingLeft {
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
}

.arrowPaddingRight {
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 16px;
}

.dropDown {
  position: absolute;
  top: 100%;
  left: 0;
  width: calc(100%);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-self: stretch;

  border-radius: 12px;
  border: 1px solid var(--Icons-ic-action, #1d3a6b);
  background: var(--Background-backgroundPrimary, #fff);

  text-align: center;

  /* Shallow / Below */
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.12);

  overflow: hidden;
}

.dropdownScroll {
  max-height: 180px;
  overflow-y: auto;
}

.dropdownItem {
  padding: 8px 16px;
  color: var(--Text-action, #1d3a6b);

  /* Body/sm */
  font-family: var(--Font-family-Body, "Open Sans");
  font-size: var(--paragraph-sm-font-size, 14px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--paragraph-sm-line-height, 20px); /* 142.857% */
  letter-spacing: var(--paragraph-sm-letter-spacing, 0.8px);
}

.month {
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;

  cursor: pointer;
  position: relative;

  border-radius: 8px;
  background: #ecf3f3;
}

.year {
  display: flex;
  padding: 8px 12px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;

  cursor: pointer;
  position: relative;

  border-radius: 8px;
  background: #ecf3f3;
}

.week {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  gap: 0px;

  color: var(--Text-headings, #141414);
  text-align: center;

  /* Body/sm */
  font-family: var(--Font-family-Body, "Open Sans");
  font-size: var(--paragraph-sm-font-size, 14px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--paragraph-sm-line-height, 20px); /* 142.857% */
  letter-spacing: var(--paragraph-sm-letter-spacing, 0.8px);
}

.day {
  display: flex;
  /* padding: 16px; */
  min-width: 50px;
  height: 44px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
}

.dateGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  gap: 0px;
}

.dateCell {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 44px;
  min-width: 50px;
  padding: 12px 2px;
  justify-content: center;
  align-items: center;

  color: var(--Text-headings, #141414);
  background: var(--Neutral-White, #fff);

  font-family: var(--Font-family-Body, "Open Sans");
  font-size: var(--paragraph-sm-font-size, 14px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--paragraph-sm-line-height, 20px); /* 142.857% */
  letter-spacing: var(--paragraph-sm-letter-spacing, 0.8px);

  cursor: pointer;
}

.selectedDate {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  border-radius: 40px;
  border: 2px solid var(--Icons-ic-default, #1c1c1c);
}

.time {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  justify-content: space-between;
  align-items: center;
}

.timeLabel {
  flex: 1 1 0;
  color: var(--Content-contentPrimary, #000);

  /* Label / Small */
  font-family: "Uber Move Text";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
}

.selectedTimeOutside {
  display: flex;
  flex-direction: row;
  gap: 12px;

  color: var(--Text-action, #1d3a6b);

  /* Body/sm */
  font-family: var(--Font-family-Body, "Open Sans");
  font-size: var(--paragraph-sm-font-size, 14px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--paragraph-sm-line-height, 20px); /* 142.857% */
  letter-spacing: var(--paragraph-sm-letter-spacing, 0.8px);
}

.selectedTime {
  display: flex;
  /* padding: 8px 24px 8px 16px; */
  padding: 8px 12px;
  align-items: center;
  align-self: stretch;
  max-width: 63px;
  width: 100%;

  border-radius: 8px;
  background: var(--foundation-off-white, #ecf3f3);
}

.timeInput {
  all: unset;
  /* max-width: 39px; */
}

.periodDropdownWrap {
  position: relative;
  cursor: pointer;
}

.dropdownItemTime {
  align-items: center;

  padding: 8px 12px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  align-self: stretch;

  /* Body/sm */
  font-family: var(--Font-family-Body, "Open Sans");
  font-size: var(--paragraph-sm-font-size, 14px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--paragraph-sm-line-height, 20px); /* 142.857% */
  letter-spacing: var(--paragraph-sm-letter-spacing, 0.8px);
}

.doneButton {
  display: flex;
  width: 60px;
  height: 36px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  border-radius: 8px;
  background: var(--Surface-action, #1d3a6b);
  border: 1px solid var(--Icons-ic-action, #1d3a6b);

  color: var(--Inverse-Content-contentInversePrimary, #fff);
  text-align: center;

  cursor: pointer;
}

.closeButton {
  display: flex;
  width: 60px;
  height: 36px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  border-radius: 8px;
  border: 1px solid var(--Icons-ic-action, #1d3a6b);
  background: #ffffff;

  color: var(--Text-action, #1d3a6b);
  text-align: center;

  cursor: pointer;
}
